{%extends "base/base.html"%}

{%block content%}

    <h1>BIENVENIDO A LA NFL</h1>
<br>
<br>
La NFL es la mayor competición de fútbol americano profesional de Estados Unidos. 
Actualmente, es la liga deportiva que más dinero recauda a nivel mundial. 
<br>
Fue creada en 1920 y actualmente se divide en 32 franquicias (equipos) repartidas 
por todo el territorio norteamericano entre dos conferencias.
<br>
{%endblock content%}