{% extends "base/base.html" %}

{% block title %}
  CREATE STADIUM
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Create stadium</button>
        <a href="{% url 'core:list3' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}