{% extends "base/base.html" %}

{% block title %}
  DELETE TEAM
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Realmente deseas Eliminar al equipo: {{ object }}?
        <button type="submit" class="btn btn-outline-danger">Delete team</button>
        <a href="{% url 'core:list2'%}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}
