{% extends "base/base.html" %}

{% block title %}
  DELETE STADIUM
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Realmente deseas Eliminar el estadio: {{ object }}?
        <button type="submit" class="btn btn-outline-danger">Delete stadium</button>
        <a href="{% url 'core:list3'%}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}
