{% extends "base/base.html" %}

{% block title %}
  DELETE CITY
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Realmente deseas Eliminar al GrantGoal: {{ object }}?
        <button type="submit" class="btn btn-outline-danger">Delete city</button>
        <a href="{% url 'core:list1'%}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}
