{% extends 'base/base.html' %}

{% block title %} LIST TEAM{% endblock title %}

{% block content %}


    <a href="{% url 'core:create2' %}" class="btn btn-outline-success form-control">add team</a>
    <table class="table table-striped table-hover">
        <thead>
            
            <th>NAME TEAM</th>
            <th>DESCRIPTION</th> 
        </thead>
        <tbody>
            {% for team in team %}
                <tr>
                    <td>{{ team.name2 }}</td>
                    <td>{{ team.description }}</td>
                   
                    <td><a href="{% url 'core:detail2' team.id %}" class="btn btn-outline-info"> Detail </a></td>
                    <td><a href="{% url 'core:update2' team.id %}" class="btn btn-outline-warning"> Update</a></td>
                    <td><a href="{% url 'core:delete2' team.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
