{% extends 'base/base.html' %}

{% block title %} LIST CITY{% endblock title %}

{% block content %}


    <a href="{% url 'core:create1' %}" class="btn btn-outline-success form-control">add city</a>
    <table class="table table-striped table-hover">
        <thead>
            
            <th>NAME CITY</th>
            
        </thead>
        <tbody>
            {% for city in city%}
                <tr>
                    <td>{{ city.name1 }}</td>
                    
                    <td><a href="{% url 'core:detail1' city.id %}" class="btn btn-outline-info"> Detail </a></td>
                    <td><a href="{% url 'core:update1' city.id %}" class="btn btn-outline-warning"> Update</a></td>
                    <td><a href="{% url 'core:delete1' city.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
