{% extends 'base/base.html' %}

{% block title %} LIST STADIUM {% endblock title %}

{% block content %}


    <a href="{% url 'core:create3' %}" class="btn btn-outline-success form-control">add stadium</a>
    <table class="table table-striped table-hover">
        <thead>
            
            <th>NAME STADIUM</th>
            <th>DESCRIPTION</th> 
            <th>LOCATION</th>
        </thead>
        <tbody>
            {% for stadium in stadium %}
                <tr>
                    <td>{{ stadium.name3 }}</td>
                    <td>{{ stadium.description2 }}</td>
                    <td>{{ stadium.location }}</td>
                   
                    <td><a href="{% url 'core:detail3' stadium.id %}" class="btn btn-outline-info"> Detail </a></td>
                    <td><a href="{% url 'core:update3' stadium.id %}" class="btn btn-outline-warning"> Update</a></td>
                    <td><a href="{% url 'core:delete3' stadium.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}