{% extends "base/base.html" %}

{% block title %}
  UPDATE TEAM
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Update team</button>
        <a href="{% url 'core:list2' %}" class="btn btn-outline-warning">Cancel</a>
    </form>

{% endblock content %}

