{% extends "base/base.html" %}

{% block title %}
  UPDATE CITY
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Update city</button>
        <a href="{% url 'core:list1' %}" class="btn btn-outline-warning">Cancel</a>
    </form>

{% endblock content %}

